@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

body {
	margin: 0;
	background-color: #1e1e1e;
	opacity: 5;
}

hr {
	border: 1px solid white;
}

.topbar {
	display: inline-block;
	width: 100%;
	min-width: 320px;
	margin: 0;
	background-color: #262626;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	margin-bottom: 20px;
}

.topbar p {
	text-align: center;
	font-family: Inconsolata;
	font-weight: 400;
	font-size: 20px;
	user-select: none;
	color: white;
}

.topbar a {
	font-size: 15px;
	text-decoration: none;
	color: white;
}

.topbar a:hover {
	text-decoration: underline;
}

.content-container {
	display: block;
 	text-align: center;
	margin: auto;
	width: 50%;
	min-width: 300px;
	word-wrap: break-word;
	background-color: #262626;
	padding: 5px 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	overflow: auto;
	margin-bottom: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;  
  width: 32%;
}

.content-container p {
	font-family: Inconsolata;
	font-weight: 300;
	font-size: 15px;
	color: white;
	user-select: none;
	padding: 2px 0;
	margin: 0;
}

.content-container a {
	display: block;
	background-color: transparent;
	padding: 5px 10px;
	margin: 0;
	font-family: Inconsolata;
	font-weight: 300;
	font-size: 15px;
	user-select: none;
	text-decoration: none;
	text-align: center;
	color: white;
	transition: background-color 0.25s ease, text-decoration 0.25s ease;
}

.content-container a:hover {
	text-decoration: underline;
	background-color: #212121;
}

.content-container a:active {
	background-color: #1a1a1a;
}

footer p {
	text-align: center;
	font-family: Inconsolata;
	font-weight: 300;
	font-size: 15px;
	color: #c9c9c9;
	user-select: none;
}

input[type="text"] {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
	background-color: #1e1e1e;
	border: none;
	outline: none;
	margin-bottom: 5px;
	color: white;
	font-family: Inconsolata;
	font-weight: 300;
	font-size: 15px;
	text-align: left;
	border-radius: 5px;
}

button {
	display: block;
	width: 100%;
	background-color: #1e1e1e;
	padding: 5px;
	text-align: center;
	font-family: Inconsolata;
	font-weight: 300;
	font-size: 15px;
	color: white;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #161616;
}

button:active {
	background-color: #141414;
}


@media screen and (max-width: 768px) {
	.topbar p {
		font-size: 17px;
	}

	.topbar a {
		font-size: 12px;
	}

	.content-container {
		width: 85%;
	}

	.content-container video {
		height: 300px;
	}

	.content-container a {
		font-size: 12px;
	}
}
